body {
    background-color: aliceblue;
    text-align: center;
    background-image: url("chuck.jpg");
}

.button {

    margin: 10px;
}

div {
    border-radius: 90%;
    color: white;
    text-size-adjust: 40px;
}

h1{
    color: white;
}